/* StatsDashboard.css */
.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  
  .stat {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
  }
  
  .stat h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .stat p {
    font-size: 14px;
    color: #666;
  }

  /* DashboardPage.css */
.dashboard-page {
    text-align: center;
    padding: 20px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
.ambony{
    margin-top: 100px;
}
body{
  background: url('../Assets/motivid-org-7RY9A5Kz55Q-unsplash.jpg') center center/cover no-repeat;
  background-color: antiquewhite;

}
.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}