body{
    /* background: url('../Assets/motivid-org-7RY9A5Kz55Q-unsplash.jpg') center center/cover no-repeat; */
    /* background-color: antiquewhite; */

}
.ambony{
    margin-top: 100px;
}
.row{
    background-color: #fff; /* Couleur de fond, ajustez selon vos besoins */
    margin: 20px; /* Marge extérieure, ajustez selon vos besoins */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre en bas à droite */
    border-radius: 10px;
}
.tableAnn{
    /* width: 100; */
    /* font-size: ; */
    color: black;
}
.lead{
    color: black;
}